/* body{
    background: saddlebrown;
    color:chocolate;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 24px;
} */

/* Aplicación de estilos sobre las etiquetas HTML */

/* div{
    margin-top: 100px;
}

input{
    width: 400px;
    display: block;
    
}

img{
    width: 300px;
    display: block;
} */

/* Aplicación de estilos sobre las clases */

/* .main{
    margin-top: 100px;
    text-align: center;
}

.search{
    width: 400px;
    height: 24px;
    display: block;
    margin: 16px auto;
    padding: 10px 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.logo{
    width: 300px;
    display: block;
    margin-bottom: 20px;
    margin: auto;
}


button{
    background: #dfe1e5;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
}
 */

 /* Uso de margins via flags */

 /* 
 body{
    margin: 0;
 }
 .red{
    background: #c71226;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 100px;
    margin-bottom: 100px; 
    margin-bottom: 15px;
}

 .blue{
    background: #0d1b88;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
 }

 .green{
    background: #397327;
    height: 100px;
 } */

/* Centrado de elementos con margenes */

/* img{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */


/* Alineación interna de los elementos: Padding */

/* .card{
    color: #222222;
    background: lightgray;
    width: 300px;
    
    margin-top: 50px;
    margin:auto;

    border: 2px solid red;
    border: 4px dotted #222222;
    border-radius: 16px;

    padding: 20px ;
} */

/* Uso de bordes */

/* Practica: Bottón de twitter */

/* .following-btn{
    margin: 8px 4px;
    padding: 12px 24px;
    border-radius: px;
    border: 1px solid #cfd9de;
    color: #0f1419;
    font-weight: bold;
    background: white;
} */


/* Uso de flexbox */

/* .container{
    display: flex;
    justify-content: center;
    justify-content: right;
    justify-content: left;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;
    }

.item{
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 10px;
} */

/* Google home clone with flexbox css */

/* .main{
    margin-top: 100px;
}

.logo{
    width: 300px;
    display: block;
    margin-bottom: 20px;
    margin: auto;
}

.search-input{
    width: 400px;
    height: 24px;
    display: block;
    margin: 16px auto;
    padding: 10px 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}



.btn{
    background: #dfe1e5;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    margin: 0 4px;
}

.btn-wrapper{
    display: flex;
    justify-content: center;
} */

/* Proyecto 2: Tarjeta de negocios digital */

body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar{
    width: 150px;
}

.card{
    width: 400px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
    color: #2b2839;
    border-bottom: 6px solid #d8cefe;
    background: #ddebf8;
}

.border-blue{
    border: 1px dotted blue;

}

/* Herencia CSS */

/* body{
    margin: 20px;
    text-align: center;
} */

/* Atajos para padding / margin */

/* .red-circle{
    height: 150px;
    width: 150px;
    background: #BC002D;
    border-radius: 100%;
    margin: 10px auto;
} */